<!doctype html>
<html>
<head>
</head>
  <title>Hoping for the 'real deal' but harboring doubts, boy delivers Christmas wish list to Santa</title>
  <body>
    <div class="container"><img src="http://interactives.dallasnews.com/2016/the-moment/images/part1/santa-1800.jpg"></div>
      <div class="left-column">
        <p>By Charles Scudder</p>
        <p>Staff Writer</p>
        <p>Published: 22 December 2015 12:55 PM </p>
      </div>
      <div class="right-column"> </div>
    <p class="caption">Santa Claus listens to 7-year-old Roman Kister’s Christmas wish list on Dec. 18 at NorthPark Center.</p>
    <h1>Hoping for the ‘real deal’ but harboring doubts, boy delivers Christmas wish list to Santa</h1>
      <div class="left-column"> </div>
      <div class="right-column"> </div>
  </body>
</html>
