body {
  background-color: green;
}
.container {
  background-color: red;
}
.left-column p:nth-child(1) {
  font-weight: bold;
  font-size: 17px;
}
.left-column p:nth-child(2) {
  font-style: italic;
}
p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  font-color: gray;
}
