body {
  background-color: gray;
}
.container {
  background-color: #C48888;
  margin: 0 auto;
  max-width: 900px;
  border: 25px solid black;
  padding: 25px;
  }
.left-column p:nth-child(1) {
  font-weight: bold;
  font-size: 17px;
}
.left-column p:nth-child(2) {
  font-style: italic;
}
img {
  width: 100%;
}

p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: gray;
  padding: 10px;
}
h1 {
  font-size: 35px;
}
@media (min-width:500px) {
.left-column {
  width: 25%;
}
.right-column {
  width: 75%;
  padding: 10px;
}

}
